body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#noun-display {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
}

#quiz-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.article-button {
    margin: 0 10px;
}

#result-display {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
}

#next-noun {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px auto 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
}

#next-noun:hover {
    background-color: #007bff;;
}
